
<h1>Welcome to <%= @crm_app_name %></h1>
  <p>Main menu</p>
  <ul>
    <li><a href="/contacts">View all contacts</a></li>
    <li><a href="/contactsadd">Add a Contact</a></li>
    <li><a href="/contactsid">Contact ID #</a></li>
    <li><a href="/contactsedit">Edit a Contact</a></li>
  </ul> 


