<!DOCTYPE html>
<html>
  
  <head>
    <title>CRM Site Blah</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  
  <body> 
    <%= yield %>
    <div>
      <p>Test Paragraphy</p>
    </div>
  </body>

</html>