<div class="form">
<form action="/contacts" method="post">
  <input type="text" name="first_name" placeholder="First Name" required="required">
  <input type="text" name="last_name" placeholder="Last Name" required="required">
  <input type="text" name="email" placeholder="Email" required="required"> 
  <input type="text" name="note" placeholder="Add a Note" required="required">
  <input type="submit" name="Submit" value="Submit">
</form>
</div>